* {
  font-family: "JetBrains Mono";
}

.title {
  font-size: 50px;
  margin-bottom: 1%;
  margin-top: 2%;
}

.center {
  text-align: center;
}

.cards_remaining {
  font-family: "Inter";
  font-size: 30px;
  padding-top: 1%;
  text-align: center;
}

.center_buttons {
  text-align: center;
  .button {
    background-color: #ceb0ff;
    margin-right: 30px;
    margin-left: 30px;
  }
}

.play_buttons {
  text-align: center;
  margin-top: 3%;
  .button {
    background-color: #ffb1b1;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.button {
  border: 2px solid black;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  display: inline;
  border-radius: 10px;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  padding-top: 30px;
  width: 40%;
  margin: auto;
  /* border: 2px solid black; */
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  font-size: 30px;
  text-align: center;
}

img {
  height: 150px;
  width: auto;
  border: 5px solid #555;
}

svg.icon {
  display: inline;
  height: 1.5em;
  width: 1.5em;
  vertical-align: top;
  fill: currentColor;
}

.rule_box {
  position: absolute;
  top: 80px;
  left: 210px;
  width: 1000px;
  height: 550px;
  background: #d4d4d4;
  border: black 2px solid;
  display: grid;
  grid-template-columns: [border2] 5px [start] 30px [column1] 40px [column2] auto [column-1] 30px [end] 5px [border];
  grid-template-rows: [border2] 5px [start] 30px [row1] auto [end] 5px [border];
}

.close_popup {
  grid-column-start: column-1;
  grid-column-end: end;
  grid-row-start: start;
  grid-row-end: row1;
}

.welcome {
  font-size: 50px;
  grid-column-start: start;
  grid-column-end: end;
  grid-row-start: border2;
  grid-row-end: row1;
  text-align: center;
  margin: 0;
}
